<header>
    <div class="logo">T.<span>Manager</span></div>
  </header>
  <div class="nav-btn">Menu</div>
  <div class="container">
  
    <div class="sidebar">
      <nav>
        <a [routerLink]="['/']" >T.<span>Manager</span></a>
        <ul>
          <li [routerLink]="['/dashboard']" [routerLinkActive]="['active']"><a>Dashboard</a></li>
          <li [routerLink]="['/users']" [routerLinkActive]="['active']"><a>Users</a></li>
          <li [routerLink]="['/admins']" [routerLinkActive]="['active']"><a>Admins</a></li>
          <li [routerLink]="['/allgroups']" [routerLinkActive]="['active']"><a>Groups</a></li>
          <li [routerLink]="['/mygroups']" [routerLinkActive]="['active']"><a>My Groups</a></li>
          <li [routerLink]="['/invitations']" [routerLinkActive]="['active']"><a>Invitations</a></li>
          <li [routerLink]="['/requests']" [routerLinkActive]="['active']"><a >Requests</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="main-content">
      <div class="my-4">
        <h1>Invitations</h1>
        <p *ngIf="userRole == 'user'">Here you can find all invitations to join a group!</p>
        <p *ngIf="userRole == 'admin'">Here you can find all invitations you sent to users to join a group!</p>
      </div>
      <div *ngIf="userRole == 'admin'" class="pb-2">
        <button type="button" (click)="showGroups()" class="btn btn-success btn-sm p-2">Send Invitation</button>
      </div>
      <div class="py-3" *ngIf="showGroupForm">
        <hr>
        <form method="post">
          <h4 class="mt-3 mb-2">Select Group</h4>
          <div class="form-group">
            <label>Group</label>
            <select class="form-control" required [(ngModel)]="group" name="group" placeholder="Group">
              <option [disabled]="true">Select Group</option>
              <option [ngValue]="group" *ngFor="let group of groups">{{group.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Member</label>
            <select class="form-control" required [(ngModel)]="user" name="user" placeholder="User">
              <option [disabled]="true">Select User</option>
              <option [ngValue]="user" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</option>
            </select>
          </div>
          <div class="form-group py-3">
            <button type="button" (click)="sendInviteRequest()" class="btn btn-success btn-sm p-2">Forward</button>
          </div>
        </form>
        <hr>
      </div>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Group Name</th>
          <th scope="col">Admin Name</th>
          <th scope="col">User Name</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let invitation of invitations; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td class="text-capitalize">{{invitation.group.name}}</td>
          <td class="text-capitalize">{{invitation.group.admin.firstName}} {{invitation.group.admin.lastName}}</td>
          <td class="text-capitalize">{{invitation.user.firstName}} {{invitation.user.lastName}}</td>
          <td class="text-capitalize">
            <span *ngIf="invitation.status == 'pending'" class="badge badge-pill badge-primary p-2">{{invitation.status}}</span>
            <span *ngIf="invitation.status == 'accepted'" class="badge badge-pill badge-success p-2">{{invitation.status}}</span>
            <span *ngIf="invitation.status == 'rejected'" class="badge badge-pill badge-danger p-2">{{invitation.status}}</span>
            <span *ngIf="userRole === 'user' && invitation.status == 'pending'">
              <br>
              <div class="mt-2"></div>
              <button class="btn btn-sm btn-success p-1" type="button" (click)="acceptRequest(invitation)">
              Accept
              </button>
              <button class="btn btn-sm btn-danger p-1" type="button" (click)="rejectRequest(invitation)">
              Reject
              </button>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  